{% extends 'base.html' %}

{% block bodyblock %}


<h3 style="text-align: center; color: lavender; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><u>Dog Breeds which model can predict :</u></h3>
<br>
<div class="container">
  <div class="row" style="margin-bottom: 1em;">
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary"  >Afghan Hound</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Basenji</button></div>
    <div class="col-md"style="margin-left: 1em;" ><button type="button" class="btn btn-danger">Beagle</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary"  >Afghan Hound</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Boxer</button></div>
    <div class="col-md"style="margin-left: 1em;" ><button type="button" class="btn btn-success">Blood Hound</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Bull mastiff</button></div>

   </div>
   <div class="row" style="margin-bottom: 1em;">
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary" >Chihuahua</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Collie</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Doberman</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">French Bulldog</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">German Shepherd</button></div>
   </div>
    <div class="row" style="margin-bottom: 1em;">
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Golden Retriever</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Great Dane</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Samoyed</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Italian Greyhound</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Kerry Blue Terrier</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Labrador Retriever</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Miniature Poodle</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Pug</button></div>
    

    </div>
    <div class="row" style="margin-bottom: 1em;">
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger" >Old English Sheepdog</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Irish Water Spaniel</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Miniature Pinscher</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Rottweiler</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Saint Bernard</button></div>
    

    </div>
    <div class="row">
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Shih Tzu</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Siberian Husky</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Standard Poodle</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Tibetian Mastiff</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Yorkshire Terrier</button></div>
    <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Basset</button></div>
    </div>
</div>
<br>
<br>
{% endblock bodyblock %}
