{% extends 'base.html' %}

{% block bodyblock %}
    
    <br> <br><br><br><br>
    <h1 style="text-align: center; color: cornsilk; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Dog Breed Classifier
    </h1>
    <br><br>
    <h3 style="text-align: center;color:wheat; font-family:'Times New Roman', Times, serif; "><b>
      AI  Model  to  predict  30  kinds  of  Dog  Breeds  in  an  instant ! <br>
      <span style="color:blueviolet">Check  in  <b style="font-size:35px;">'Breed'</b>  section in navbar to  find  out  all  the  breeds  which  the model  can  predict</span> <br>
      <span style="color:darkred;"> Go  to  <b style="font-size:35px;">'Predict'</b>  section in navbar to  upload  the  dog image  to  Predict  the  Dog  Breed !!</span>
    </b></h3><br><br>



    <!-- Footer -->

    
    {% endblock %}